- @meals.each do |meal|
  %ul
    %li
      %dl
        %dt= meal.name
        %dd
          .chef= meal.chef
          .day= meal.day
          .description
            -meal.description.split("\n").each do |part|
              =part
              %br
